* {
    font-family: 'Jua', sans-serif;
}

header>div{
    margin-top: 10%;
}

header>div>label {
    margin-left: 5%;
}

.infoBtn {
    margin: auto 10% auto 90%;
}

.columnBox {
    display: block;
    margin: 10px;
    padding: 10px;
    justify-self: center;

    border-radius: 10px;
    background-color: var(--bg-card-color);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;

}

.column {
    display: block;
    margin: 10px;
    padding: 10px;
    justify-self: center;

    border-radius: 10px;
    background-color: var(--bg-card-color);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
}

.cardBox {
    display: block;
    margin: 10px;
    padding: 10px;
    justify-self: center;
}

.card {
    display: block;
    margin: 10px;
    padding: 10px;
    justify-self: center;
}

.columnBtn {
    margin: 10% auto 10% 45%;
}

.column>button {
    margin: auto auto auto 25%;
}