* {
    font-family: 'Jua', sans-serif;
}

.infoBtn {
    margin: 10% 10% 10% 90%;
}

.boardBox {
    display: block;
    margin: 10px;
    padding: 10px;
    justify-self: center;

    border-radius: 10px;
    background-color: var(--bg-card-color);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;

}

.board {
    display: block;
    margin: 10px;
    padding: 10px;
    justify-self: center;

    border-radius: 10px;
    background-color: var(--bg-card-color);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
}

.boardBtn {
    margin: 10% auto auto 45%;
}

.listBtn {
    margin: 10% auto auto 90%;
}